/* YOU CAN CHANGE THE COLORS IF U WANT BUT I SET UP  */

/* css that changes the section -- will have the most global change*/

:root {
    --bg-light: #f8f6e8ff;
    --bg-dark: #1d1e2cff;
    --fall-red: #a4303fff;
    --fall-orange-dark: #bb6b00ff;
    --fall-orange-light: #ce8d66ff;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--bg-light);
    
}

section {
    margin-top: 0;
    margin-bottom: 4em;
  

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Calistoga', serif;
    color: var(--bg-dark);
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--bg-dark);
}

h1 {
    /* set the margin top 0 here b/c is was making the doc weird */
    margin-top: 0; 
}

h2 {
    font-size: 32pt;
}

img {
    border-radius: 10px;
    width: 100%;
}

/* global css - this will be used everywhere in the page */

.flex {
    display: flex;
}

.div-half {
    display: block;
    width: 50%;
}

.content {
    /* change  */
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
}

/* css that deals with section heading */


#header {
    position: relative;
    display: block;
    margin-top: 0;
    height: 40rem;
    background-image: url(./images/header-img-2.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(35, 33, 34, 0.277);
}

#header h1 {
    color: var(--bg-light);
    font-size: 80pt;
    position: absolute;
    bottom: 0;
    /* should be (100%-(max width)) / 2 to keep it consistent with margins */
    left: 20%; 
    width: 40%;
}

/* ingredients css */

.label-for-check {
    font-family: 'Inter', sans-serif;
}

.check-with-label:checked + .label-for-check {
    text-decoration: line-through;
  }

  /* instructions css */

  
  ol {
  
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
  }
  ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    /* use this to change the distance between instruction steps */
    margin-bottom: 40px;
  }
  ol li::before {
    content: counter(my-awesome-counter);
    font-family: 'Calistoga', serif;
    font-size: 2rem;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;

    
  }

  .step-img {
    max-height: 30rem;
    object-fit: cover;
  }

  /***************************************************************************************************  RESPONSIVE CSS *********************************************************/

  @media (max-width: 600px) {
    .content {
        max-width: 90%;
    }

    #header h1 {
        font-size: 60pt; 
        left: 5%; 
        width: 80%; 
    }

    .flex {
        display: block;
    }
    
    .div-half {
        width: 100%; 
    }

    
}

/* Medium screens */
@media (min-width: 601px) and (max-width: 900px) {
    .content {
        max-width: 70%;
    }

    #header h1 {
        font-size: 70pt; 
        left: 15%; 
        width: 70%; 
    }

    .flex {
        display: block;
    }
    
    .div-half {
        width: 100%; 
    }
}

/* Large screens */
@media (min-width: 901px) {
    .content {
        max-width: 60%; 
    }

    #header h1 {
        font-size: 80pt; 
        left: 20%; 
        width: 40%; 
    }
}